        body {
            font-family: Arial, sans-serif;
            background: #f7f7f7;
        }
        .container.body {
            display: flex;
            min-height: 100vh;
        }
        .main_container {
            margin-left: 250px; /* Vẫn giữ khoảng cách cho sidebar */
            padding: 10px;
            background: #fff;
            flex: 1;
            border-radius: 5px;
            margin-bottom: 30px;
            margin-top: 30px; 
            
        }
        /* Sidebar */
        .left_col {
            background: #f7f7f7;
            color: #333; /* Màu chữ đổi thành tối hơn */
            width: 250px;
            position: fixed;
            height: 100%;
            overflow-y: auto;
            padding-top: 50px;
        }
        .left_col .profile {
            text-align: center;
            padding: 20px 0;
        }
        .left_col .profile_img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0 auto;
        }
        .nav.side-menu li a {
            color: #333; /* Đổi màu chữ */
            padding: 10px 20px;
            display: block;
        }
        .nav.side-menu li a:hover {
            background: #354b60;
        }
        .nav.side-menu li i {
            margin-right: 10px;
        }
        /* Main content */
        table {
            width: 100%;
            table-layout: auto;
        }
        table th, table td {
            vertical-align: middle;
            text-align: center;
            padding: 10px;
        }
        .btn-sm {
            width: 40px;
            padding: 6px 0;
        }
        .btn-primary, .btn-danger {
            font-size: 18px;
        }
        .x_panel {
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        }
        .x_title h2 {
            font-size: 22px;
            margin: 0;
        }
        .x_content {
            padding: 15px;
        }
        .page-title h3 {
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 24px;
        }